/.vs
/QuanLyCuaHangVatLieuXayDung/bin/Debug/*.exe
/QuanLyCuaHangVatLieuXayDung/obj/Debug
/QuanLyCuaHangVatLieuXayDung/bin/Debug/QuanLyCuaHangVatLieuXayDung.pdb.REMOTE.pdb
/QuanLyCuaHangVatLieuXayDung/bin/Debug/QuanLyCuaHangVatLieuXayDung.pdb.BASE.pdb
/QuanLyCuaHangVatLieuXayDung/bin/Debug/QuanLyCuaHangVatLieuXayDung.pdb.LOCAL.pdb
/QuanLyCuaHangVatLieuXayDung/bin/Debug/*.pdb
